@model Canducci.Pagination.StaticPaginated<SqlServerWeb.Models.People>
@{
    ViewData["Title"] = "Index";
    var options = new PaginatedOptions { NextLabel = "Próximo", PreviousLabel = "Anterior", FirstLabel = "Primeiro", LastLabel = "Último" };
}

<h2>People - Lista - SQLServer</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Descrição
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="width:15%">
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td style="width:70%">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td style="width:15%">
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" style="text-align:center" align="center">
                @Html.Pagination(Model, current => Url.Action("Index", new { current = current }), PaginatedStyle.NumbersWithFirstPreviousNextLast, options)
            </td>
        </tr>
    </tfoot>
</table>
